*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 5px 0px 5px 15vw;
    backdrop-filter: blur(10px);
    background-color: #0000005e;
    border-radius: 30px;
    overflow: hidden;
}

.nav {
    display: none;
}

nav ul {
    position: relative;
    right: 0%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    list-style: none;
}
nav {
    z-index: 11;
    padding-right: 130px;
}

nav a,
.nav a {
    color: rgb(160, 160, 160);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    font-weight: bold;
    transition: all .15s;
    position: relative;
    text-decoration: none;
}
nav a::before,
nav a::after,
.nav a::after,
.nav a::before {
    content: '';
    position: absolute;
    height: 3.5px;
    width: 0px;
    background-color: rgb(38, 255, 0);
    box-shadow: 0 0 5px rgb(38, 255, 0);
    transition: width .3s;
}
nav a::after,
.nav a::after {
    bottom: -5px;
    left: 0px;
}

nav a::before,
.nav a::before {
    top: -5px;
    right: 0px;
}
nav a:hover,
.nav a:hover {
    text-shadow: 0 0 3px rgb(255, 255, 255);
    color: #ffffff;
}
nav a:hover::before,
nav a:hover::after,
.nav a:hover::before,
.nav a:hover::after {
    width: 100%;
}

/*88888888888888888*/
#logo {
    position: relative;
    width: max-content;
}

#logo h2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

#logo h2:nth-child(1){
    font-size: 22px;
    color: rgb(255, 255, 255);
}

#logo h2:nth-child(2) {
    color: orange;
    text-align: center;
}

#logo h2:nth-child(2)::after {
    content: '';
    width: 28%;
    height: 5%;
    background-color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
/****************************************/

.backAnm {
    background-color: #ffffff7e;
    display: block;
    position: absolute;
    width: 10px;
    height: 200%;
    left: -55px;
    top: -40%;
    right: calc(90vw - 1vw);
    transform: rotate(30deg);
    box-shadow: 0 0 10px 5px  #ffffff,
                0 0 15px 8px #ffffff,
                0 0 20px 10px #ffffff,
                inset 0 0 10px 5px  #ffffff;
                
    animation: backAnimation 4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes backAnimation {
    0%, 100% {
        left: -1vw;
    }
    
    50% {
        left: 90vw;
    }
}

#check,
footer {
    display: none;
}

@media(width <= 501px) {
    #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header {
        display: block;
        height: 60px;
        transition: all .2s linear;
    }
    
    header:hover {
        background-color: rgba(0, 0, 0, 0.726);
    }

    nav {
        display: none;
    }
    
    .nav {
        display: block;
        position: fixed;
        width: 90vw;
        height: 0vh;
        bottom: 110px;
        left: 6vw;
        z-index: 11;
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50px 50px 15px 15px;
        transition: bottom 0s;
        transition: height .5s;
        overflow: hidden;
    }
    
    .nav a {
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        width: 90vw;
    }
    
    .nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }
    
    .nav ul li {
        position: relative;
        left: -100%;
    }

    #check:checked ~ label header {
        border-radius: 15px 15px 50px 50px;
        background-color: rgba(0, 0, 0, 0.712);
    }
    
    #check:checked ~ .nav {
        bottom: 110px;
        height: 70vh;
    }
    #check:checked ~ .nav ul li {
        animation: stag .5s ease-in-out forwards;
    }

    #check:checked ~ .nav ul li:nth-child(2) {
        animation-delay: .1s;
    }
    #check:checked ~ .nav ul li:nth-child(3) {
        animation-delay: .2s;
    }
    #check:checked ~ .nav ul li:nth-child(4) {
        animation-delay: .3s;
    }
    #check:checked ~ .nav ul li:nth-child(5) {
        animation-delay: .4s;
    }
    
    @keyframes stag {
        to {
            left: 0;
        }
    }

    footer {
        display: block;
        position: fixed;
        width: 90vw;
        height: 20px;
        background-color: rgba(255, 0, 0, 0);
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Press Start 2P', cursive;
        font-weight: 400;
        color: orange;
    }

    footer span:nth-child(1) {
        position: absolute;
        left: -2%;
        top: -3%;
        transform: rotate(15deg);
    }
    
    footer span:nth-child(2) {
        position: absolute;
        left: 70%;
        top: 5px;
    }
}